body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #3498db;
  color: #fff;
  text-align: left;
  padding: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 4px;
}

.grid-item {
  background-color: #2ecc71;
  color: #fff;
  text-align: left;
  padding: 4px;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* Media query for screens under 800px */
@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr; /* Change to a single column layout */
  }
}
