/* Reset and normalize CSS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Global styles */
html {
    font-size: 11px;
}

body {
    font-family: Arial;
    background-color: #f0f0f0;
    color: #333;
}
.container {
  display: grid;
  grid-template-columns: 1fr 40% 40%;
  grid-template-rows: min-content min-content min-content auto;
  gap: 10px;
}

/* Add shadow to grid elements */
.container > * {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Media query for stacking items vertically below 992px */
@media screen and (max-width: 992px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "classification"
      "overview"
      "pictures"
      "card"
      "sketches"
      "links"
      "info";
  }
}
